# Security
.env
.env.*
*.env
!.env.example

# Traefik
acme.json
certs/
private/

# Authentik
authentik/media/
authentik/custom-templates/

# Vaultwarden
vaultwarden/data/

# Vikunja
vikunja/db_data/
vikunja/files/

# Adguard
adguard/data/

# Navidrome
navidrome/data/
navidrome/music/

# Audiobookshelf
audiobookshelf/config
audiobookshelf/logs
audiobookshelf/metadata

# Logs
logs/
*.log
monitoring/loki_data/

# OS and IDE files
.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp
