DB_PASSWORD=change_me_in_prod
DB_USER=vikunja
DB_NAME=vikunja
VIKUNJA_SECRET=long_random_secret_key
OPENID_AUTH_URL=authentik_application_url
OPENID_CLIENT_ID=authentik_client_id
OPENID_CLIENT_SECRET=authentik_client_secret
